
  body {
    background-color: #1E3447;
  }
  h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 5vw;
    color: #CCE99D;
  }
  hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #1E3447, #819766, #1E3447);
  }
  img {
    width: 300px;
    height: auto;
    padding-left: 30px;
  }
  #header {
    width: 70vw;
    margin: auto;
    padding-top: 50px;
  }
  .main {
    margin-top: 50px;
    margin-bottom: 100px;
    width: 600px;
    float: left;
    color: #6BBCBD;
    font-size: 1em;
    font-family: "Montserrat", sans-serif;
    margin-left: 30px;
    
  }
  .main p {
    color: #6BBCBD;
    font-size: 0.9em;
    font-family: "Montserrat", sans-serif;
    margin-left: 30px;
  }
  .sub-heading {
    color: #80c8c9;
    font-size: 1.2em;
    padding-left: 30px;
    font-weight: 700;
  }